@import "tailwindcss";


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-subtle-down: subtle-slide-down 1s cubic-bezier(0.2, 0.8, 0.2, 1) both;
  --animate-subtle-up: subtle-slide-up 1s cubic-bezier(0.2, 0.8, 0.2, 1) 0.2s both;
  --animate-subtle-right: subtle-slide-right 1s cubic-bezier(0.2, 0.8, 0.2, 1) 0.3s both;
  --animate-subtle-pop: subtle-pop 1s cubic-bezier(0.2, 0.8, 0.2, 1) 0.4s both;
  --animate-subtle-zoom: subtle-zoom 1.5s cubic-bezier(0.2, 0.8, 0.2, 1) both;

  @keyframes subtle-zoom {
    0% {
      transform: scale(1.05);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes subtle-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-12px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes subtle-slide-up {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes subtle-slide-right {
    0% {
      opacity: 0;
      transform: translateX(-12px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes subtle-pop {
    0% {
      opacity: 0;
      transform: scale(0.98);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}